snippet urlto
{{ URL::to('$1') }}$2
endsnippet

snippet mike
@author Michael Funk <mfunk@spinmedia.com>
endsnippet

snippet terrence
@author Terrence Howard <thoward@christianpublishing.com>
endsnippet

snippet copyright
@copyright 2013 SpinMedia, Inc. All Rights Reserved.
endsnippet
