*.log
.*.status
.DS_Store
id_rsa*
authorized_keys
known_hosts
to_link/.config/hub
to_link/.config/ranger/history
to_link/.config/ranger/bookmarks
to_link/.irssi/config.autosave
to_link/.ssh/keys
tags
