[submodule "support/bash-installer-framework"]
	path = support/bash-installer-framework
	url = https://github.com/mikedfunk/bash-installer-framework.git
[submodule "to_link/webgrind"]
	path = to_link/webgrind
	url = https://github.com/jokkedk/webgrind.git
[submodule "support/iTerm2-Color-Schemes"]
	path = support/iTerm2-Color-Schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
[submodule "support/osx-terminal.app-colors-solarized"]
	path = support/osx-terminal.app-colors-solarized
	url = https://github.com/tomislav/osx-terminal.app-colors-solarized.git
[submodule "support/powerline-fonts"]
	path = support/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
