snippet usestrict "function form of use strict"
(function() {
  'use strict';
  $1
}());
endsnippet

snippet al "psr-4 autoload"
"autoload": {
  "psr-4": {
    "$1": "$2"
  }
}
endsnippet

snippet rq "node-style require"
var ${1:gulp} = require('${2:gulp}');
endsnippet

snippet top "self-invoking function and use strict"
(function () {
  'use strict';
  $1
}());
endsnippet
